---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: heimdall
  namespace: heimdall
  labels:
    app: heimdall
spec:
  replicas: 1
  selector:
    matchLabels:
      app: heimdall
  template:
    metadata:
      labels:
        app: heimdall
    spec:
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: heimdall-pvc
      containers:
        - name: heimdall
          image: lscr.io/linuxserver/heimdall:latest@sha256:2e787279130c3f359eb8e09c7e131d258267b58fe61ea173cb2172eb865e29c1
          volumeMounts:
            - name: config
              mountPath: /config
          env:
            - name: PUID
              value: '1000'
            - name: PGID
              value: '1000'
            - name: TZ
              value: 'UTC'
            - name: APP_NAME
              value: 'The Miller Family'
---
apiVersion: v1
kind: Service
metadata:
  name: heimdall
  namespace: heimdall
spec:
  selector:
    app: heimdall
  ports:
    - protocol: TCP
      port: 80