---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: cloud
  annotations:
    external-dns.alpha.kubernetes.io/target: luma.chrismiller.xyz
    kubernetes.io/ingress.class: nginx
spec:
  tls:
    - hosts:
        - cloud.luma.chrismiller.xyz
      secretName: cloud-tls
  rules:
    - host: cloud.luma.chrismiller.xyz
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: nextcloud
                port:
                  number: 8080
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: cloud-tls
spec:
  secretName: cloud-tls
  issuerRef:
    kind: ClusterIssuer
    name: letsencrypt-prod
  commonName: cloud.luma.chrismiller.xyz
  dnsNames:
    - cloud.luma.chrismiller.xyz
  privateKey:
    rotationPolicy: Always
    algorithm: ECDSA
    size: 384
