---
argo-cd:
  global:
    domain: ci.chrismiller.xyz
    addPrometheusAnnotations: true
    statusbadge.enabled: true
  configs:
    repositories:
      luma-homeops:
        url: https://github.com/ChristopherJMiller/luma-homeops
    clusterCredentials:
      default:
        server: https://kubernetes.default.svc
        config: {}
    cm:
      timeout.reconciliation: 180s
      timeout.hard.reconciliation: 300s
  controller:
    replicas: 1
    pdb:
      enabled: true
      minAvailable: 1
    resources:
      limits:
        memory: 1Gi
      requests:
        cpu: 250m
        memory: 1Gi
    metrics:
      enabled: true
  dex:
    resources:
      limits:
        memory: 96Mi
      requests:
        cpu: 10m
        memory: 96Mi
  redis:
    resources:
      limits:
        memory: 128Mi
      requests:
        cpu: 150m
        memory: 128Mi
  server:
    pdb:
      enabled: true
      minAvailable: 1
    resources:
      limits:
        memory: 128Mi
      requests:
        cpu: 50m
        memory: 64Mi
    metrics:
      enabled: true
    ingress:
      enabled: true
      annotations:
        kubernetes.io/ingress.class: nginx
        external-dns.alpha.kubernetes.io/target: chrismiller.xyz
        nginx.ingress.kubernetes.io/force-ssl-redirect: 'true'
        nginx.ingress.kubernetes.io/ssl-passthrough: 'true'
      hostname: ci.chrismiller.xyz
      tls: true
  repoServer:
    autoscaling:
      enabled: true
      minReplicas: 1
      maxReplicas: 3
    pdb:
      enabled: true
      minAvailable: 1
    resources:
      limits:
        memory: 256Mi
      requests:
        cpu: 10m
        memory: 256Mi
  applicationSet:
    pdb:
      enabled: true
      minAvailable: 1
    resources:
      limits:
        memory: 128Mi
      requests:
        cpu: 200m
        memory: 128Mi
  notifications:
    enabled: false
